{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}" />
{% endblock %}

{% block content %}
    {% if form.errors %}
        <div id="error-warning">
            <p>Please fix the errors in your comment submission!!</p>
            <a href="#comment-form">Click here to fix!</a>
        </div>
    {% endif %}
    <section id="summary">
        <h2>{{ post.title }}</h2>
        <div>
            {% for tag in tags %}
                <span>{{ tag.caption }}</span>
            {% endfor %}
        </div>
        <div id="read-later">
            <form action="{% url "read-later" %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ post.id }}" name="post_id">
                
                    <button>
                        {% if saved_for_later %}
                            Remove from Read Later
                        {% else %}
                            Read Later
                        {% endif %}
                    </button>             
            </form>
        </div>
        <article>
            <img src="{{ post.image.url }}" alt="{{ post.title }}" />
            <address>By <a href="mailto:{{ post.author.email }}">{{ post.author }}</a></address>
            <div>
                Last updated on <time>{{ post.date|date:"d M Y" }}</time>
            </div>
        </article>
    </section>

    <main>
        {{ post.content|linebreaks }}
    </main>

    <section id="comment-form">
        <p>Add A Comment</p>
        <form form="{% url "post-details" post.slug %}" method="POST">
            {% csrf_token %}
            {% for element in form %}
            <div class="form-control {% if element.errors %}invalid{% endif %}">
                {{ element.label_tag }}
                {{ element }}
                {{ element.errors }}
            </div>
            {% endfor %}
            <button>Submit your comment</button>
        </form>
    </section>

    <section id="all-comments">
        <h2>--------------------Comments--------------------</h2>
        {% for comment in all_comments%}
            <div>
                <span>{{ comment.user_name }} - "{{ comment.title }}"</span>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% endfor %}
    </section>
{% endblock %}