{% extends 'base.html' %}
{% load static %}

{% block title %}
    Saved posts
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/stored-posts.css" %}">
{% endblock %}

{% block content %}
    {% if stored_posts %}
    <section>
        <ul>
            {% for post in stored_posts %}
            <li><a href="{% url "post-details" post.slug %}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
    {% else %}
        <h2>{{ message }}</h2>
        <button method="GET">
           <a href="/">Go Back</a>
        </button>
    {% endif %}
{% endblock %}